<!DOCTYPE html>

<html xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Welcome!</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>


<body align="center">

<form th:action="@{/addpost}" method="post" th:object="${postToSave}">

    <p>Post:
        <input type="text" th:field="*{text}"/>
    </p>

    <p>
        <input type="submit" value="Add post"/>
        <input type="reset" value="Delete"/>
    </p>


</form>



</body>
</html>