<!DOCTYPE html>

<html xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>OK!</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body align="center">
<h1> Post added </h1>

<form action="/index">
    <button class="btn btn-success" type="submit"> Back </button>
</form>

<form action="/posts">
    <button class="btn btn-success" type="submit"> ShowAll </button>
</form>

</body>
</html>