<!DOCTYPE html>

<html xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>


<form th:action="@{/registeruser}" method = "post" th:object="${userToRegister}">
    <p>Login:
    <input type="text" th:field="*{login}"/>
    </p>
    <p>Password:
    <input type="text" th:field="*{password}"/>
    </p>
    <p>Name:
        <input type="text" th:field="*{userDetailsDto.name}"/>
    </p>
    <p>Surname:
        <input type="text" th:field="*{userDetailsDto.surname}"/>
    </p>
    <p>Email:
        <input type="text" th:field="*{userDetailsDto.email}"/>
    </p>
    <p>Birth date:
        <input type="date"  th:field="*{userDetailsDto.birthDate}"/>
    </p>

    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>


</form>
</body>
</html>

