<!DOCTYPE html>

<html xmlns="http:/>/www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Success</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h1 style="color: green"><p align="center"> Registration completed </p> </h1>

<form action="/login">
    <p align="center"> <button class="btn btn-primary" type="submit"> Login </button> </p>
</form>

<!--<form action="/addapplicationuser">
    <p align="center"> <button class="btn btn-primary" type="submit"> Dodaj kolejnego użytkownika systemu </button> </p>
</form>-->

</body>
</html>